:root {
	font-family: "Segoe UI", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color-text: #d4d4d4;
	--color-background: #1e1e1e;

	--color-gradient1: #005f6b;
	--color-gradient2: #ff6b6b;
	--gradient-animation-duration: 5s;
	--content-width: 800px;
	--intro-paragraph-width: 300px;
	--min-wave-width: 800px;
	--absolute-width: 100vw;
	--padded-width: calc(var(--absolute-width) - 20px);
	--border-radius: 4px;
	--progress-bar-width: 2px;
	--progress-bar-color: #ff6b6b;
	--menu-background-color: #d4d4d4;
	--menu-background-color-passed: #005f6b;
	--menu-text-color: #1e1e1e;
	--menu-text-color-passed: #ff6b6b;
	--menu-size: 40px;
	--menu-font-size: 30px;
	--navigator-width: 40px;
	--navigator-height: 40px;
	--navigator-width-collapsed: 16px;
	--navigator-height-collapsed: 60px;
	--navigator-icon-size: 30px;
	--navigator-box-shadow-passed: inset 0 0 20px 4px var(--color-gradient2);
	--navigator-box-shadow-passed-collapsed: inset 0 0 8px 4px
		var(--color-gradient2);
	--transition-default: all 0.5s ease-in-out;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

a {
	font-weight: 500;
	color: #ff6b6b;
	text-decoration: inherit;
	transition: all 0.5s;
	padding: 5px;
	border-radius: var(--border-radius);
}
a:hover {
	background-color: #005f6b;
	box-shadow: inset 0 0 5px 2px #ff6b6b;
}

body {
	margin: 0;
	display: flex;
	color: var(--color-text);
	background-color: var(--color-background);
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
	font-weight: lighter;
}

h2 {
	font-size: 1.5em;
	line-height: 1.1;
	font-weight: lighter;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.atropos-highlight {
	filter: blur(4px);
	opacity: 0.8 !important;
}

img {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

.image-portrait img {
	width: 200px;
	height: 200px;
}

.image-portrait .atropos-inner {
	border-radius: 50%; /* make reflection a circle */
}

.image-chatgpt-phone {
	margin: 40px;
}

.image-chatgpt-phone .atropos-inner {
	border-radius: 20px; /* make reflection a circle */
}

.image-chatgpt-phone img {
	width: 300px;
	height: 652px;
}
.image-chatgpt-diagram {
	margin: 40px;
}
.image-chatgpt-diagram img {
	width: 300px;
	height: 425px;
}
